footer
    a(href="https://www.linkedin.com/in/wouter-bijnsdorp-584512142/")
        img(src="images/linkedin.svg")
    p Powered by Wouter Bijnsdorp
    a(href="mailto:wouterb98@gmail.com")
        img(src="images/mail.svg")
