extends templates/layout

block main 
    main 
        .worksListed
            each madeWork in workList 
                .work 
                    a(href= 'work/' + madeWork._id)
                        h2 #{madeWork.name}
                        img(src= 'work/' + madeWork.path +'/1.png')  
                        h3 #{madeWork.year} 
                        h3 #{madeWork.subject}
            else 
                .oh-no You have no work to see! Maybe something went wrong?
                