extends templates/layout

block main 
    main 
        .introduction 
            p Hallo! 
            p Mijn naam is Wouter Bijnsdorp, ik ben een vierdejaars Communication and Multimedia Design aan de Hogeschool van Amsterdam. Ik ben graag bezig met het verven van miniaturen, lezen, en het organiseren om met vrienden iets te gaan doen. 
            p Ik kom uit Nieuwegein, en help op het HvA mee als studentassistent buiten mijn opleiding om.
            p In de afgelopen vier jaar heb ik veel geleerd over webdesign, UX, en front-end development. Mijn studie heeft mijn kunnen in veel manieren verder verbeterd en laten ontbloeien, ik kan bijvoorbeeld goed onderbouwen, werk graag in een team, ben punctueel, en kan ik goed reflecteren.
            h2 Mijn werk
            p In de afgelopen jaren heb ik mij met veel verschillende projecten bezig gehouden, degenen waar ik het meest tevreden mee bent ziet u hier onder.
        .worksListed
            each madeWork in workList 
                .work 
                    a(href= 'work/' + madeWork._id)
                        h2 #{madeWork.name}
                        img(src= 'work/' + madeWork.path +'/1.png')  
                        h3 #{madeWork.year} 
                        h3 #{madeWork.subject}
            else 
                .oh-no You have no work to see! Maybe something went wrong?
                