extends templates/layout

block main 
    main 
        .workListed
                .workMade
                    .workMadeTags
                        h1 #{madeWork.name}
                        h2 #{madeWork.year} 
                        h2 #{madeWork.subject}
                    .description
                        p  #{madeWork.description} 
                    ul
                        img(src= madeWork.path +'/1.png')  
                        img(src= madeWork.path +'/2.png') 
                        img(src= madeWork.path +'/3.png') 
                        img(src= madeWork.path +'/4.png') 
