.worksListed{
    text-align: -webkit-center;
}
.work{
    text-align: -webkit-center;
    width: 20em;
    margin-bottom: 1.5em;
}
h1, h2{
    width: fit-content;
    margin: 1%;
}

h3{
    display: contents;
}

a{
    text-decoration: none;
}

.work a img{
    width:10em;
    display: block;
    height: 10em;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

ul img{
    width:100%;
}

p{
    width: 80%;
    text-align: center;
}

ul{
    margin: 3px;
    padding-inline-start: 0px;
}



@media only screen and (min-width: 1000px) {
    ul img{
        width:25%;
        height: 100%;
        
    } 
    .worksListed{
        display: flex;
    }
}
