@font-face {
    font-family: 'titleFont';
    src: url(fonts/grenzegotisch-variablefont_wght.tff) format('truetype');
    font-display: optional;    
}
@font-face {
    font-family: 'pageFont';
    src: url(fonts/merriweather-regular.ttf) format('truetype');
    font-display: optional;
}

body{
    margin:0;
    font-family: 'pageFont', 'Merriweather', 'Arial';
    width: 100%;
}

header{
    width: 100%;
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.2);
}

header .title{
    font-size: 2em;
    font-family: 'titleFont', 'Grenze Gotisch', 'Courier New';
    text-decoration-color: #170000;
}

.introduction p:first-of-type{
    font-size: 2em;
}

.introduction p{
    margin: 0.1em;
    margin-top: 1em;
    white-space: pre-line;
}
.introduction p:last-of-type{
    text-align: center;
}

.introduction h2{
    color: #5D5761;
    width: 100%;
    text-align: -webkit-center;
}

.worksListed, .workListed{
    text-align: -webkit-center;
    place-content: center;
}

.work{
    text-align: -webkit-center;
    width: 20em;
    margin: 1.5em;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.14);
}

.work:hover{
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.24);
}

h1, h2{
    width: fit-content;
    margin: 1%;
}

a{
    text-decoration: none;
    color:black;
}

h3{
    display: contents;
}

.work a img{
    display: block;
    height: 12em;
}

ul img{
    width:100%;
}

.description p{
    width: 80%;
    text-align: center;
}

ul{
    justify-content: center;
    margin: 3px;
    padding-inline-start: 0px;
}

footer{
    justify-content: center;
    align-items: center;
    background-color: #5D5761;
    color: #fff;
    display: flex;
    height: 5em;
    margin-top: 20vh;
}

footer a{
    text-align-last: center;
}

footer a img:hover{
    box-shadow: 11px -2px 58px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 11px -2px 58px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 11px -2px 58px -1px rgba(0,0,0,0.2);
}

footer a img{
    height: 50%;
    width: 50%;
}

footer p{
    margin: 10%
}

.workMadeTags{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1000px) {
    header{
        padding: 0.5em;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    ul img{
        width:49%;
        height: 100%;
        margin: 0.1em
    } 
    .worksListed{
        display: flex;
        flex-wrap: wrap;
    }
    .work{
        width:45%; 
        margin: 1%;
    }
    footer p{
        margin: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    header{
        padding: 0.5em;
    }
    ul img{
        width:24%;
        height: 100%;
        margin: 0.1em
    } 
    .worksListed{
        display: flex;
        flex-wrap: wrap;
    }
    .work{
        width:30%; 
        margin: 1%;
    }
}

@media only screen and (min-width: 3000px) {
    header{
        padding: 0.5em;
    }
    ul img{
        width:24%;
        height: 100%;
        margin: 0.1em

    } 
    .worksListed{
        display: flex;
        flex-wrap: wrap;
    }
    .work{
        width:20%; 
        margin: 1%;
    }
}
