doctype html 
html
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather")
        link(rel="icon" href="https://example.com/image.svg%22%3E")
        title Portfolio Wouter Bijnsdorp 
    body
        block nav
            include ../includes/header
        block main 
            main  
                p This is the main part of the page 
        block footer
            include ../includes/footer